<template name="sinistrosEdit">
  {{#panel title="Editar Sinistro" }}
    {{#if Template.subscriptionsReady}}
      {{#autoForm
        collection="Sinistros"
        id="updateSinistrosForm" 
        type="method-update" 
        doc=tech
        singleMethodArgument=true
        meteormethod="Sinistros.methods.update" 
        class="form-horizontal"}}
          {{> afQuickField name="BO" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="condutor" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="data" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="local" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="vitimas" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="descricao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="terceiros" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="obs" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> submit texto="Editar" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
      {{/autoForm}}
    {{else}}
      <div class="modal-body">
        {{> spinner}}
      </div>
    {{/if}}
  {{/panel}}
</template>