<template name="veiculosCard">
  {{#unless isDeleted}}
    {{#panelContainer class="product-container" }}
      {{#panelContent class="motorista-card" }}
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            {{#if Template.subscriptionsReady}}
              {{#with FS.GetFile 'images' imagem}}
                {{>safeImg url=(url store='cards') class="img-responsive"}}
              {{/with}}
            {{/if}}
          </div>
          <div class="col-lg-9 info">
            <h2 class="font-bold m-b-xs">{{{marca}}} {{{modelo}}}</h2>
            <small>Ano: {{ano}} / Cor: {{cor}}</small>
            <hr>
            <div class="col-sm-12 col-md-3 col-lg-3">
              <p><b>Documentação</b> <a class="btn btn-xs modalDocumento"><i class="fa fa-list-alt" style="font-size: 20px"></i></a> </p>
              <p>Chassi: {{chassi}}</p>
              <p>Renavan: {{renavan}}</p>
              <p>Municipio: {{municipio}}</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-5">
              <p><b>Detalhes do Veículo</b></p>
              <p>Placa: {{{placa}}}</p>
              <p>Proprietário: {{{proprietario}}}</p>
              <p>Espécie: {{especie}}</p>
              <p>Categoria: {{categoria}}</p>
            </div>
            <div class="col-xs-12">
              <hr>
              <div class="btn-group">
                <a href="{{pathFor 'veiculos.edit' id=_id}}" class="btn btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
                <a class="btn btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
              </div>
            </div>
          </div>
        </div>
      {{/panelContent}}
    {{/panelContainer}}
  {{/unless}}
</template>