<template name="search">
  {{#panelContainer class='elastic-search' }}
    {{#panelContent}}
      <div class="icons-row">
        {{> selectEntities}}
      </div>
      <div class="search-source-display-mode">
        {{> searchSource source=SearchSources.globalSearch options=getOptions}}
        {{> searchDisplayMode id='mainSearch'}}
      </div>
      <div class="row">
        <div class="col col-xs-12">
          {{#if $eq (getSearchDisplayMode 'mainSearch') 'list'}}
            <!--
            {{#each results}}
              <h3>{{{name}}}</h3>
              <h5>
                <b>{{_score}}</b> score from
                <b>{{_type}}</b> type
                <br> {{{description}}}
              </h5>
              <hr />
            {{/each}}
            -->
            <h5>Placeholder for ListView</h5>
          {{/if}}
          {{#if $eq (getSearchDisplayMode 'mainSearch') 'grid'}}
            <div class="row">
              {{#each results}}
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 animated fadeInRight">
                  {{#if $eq _type 'organizations'}}
                    {{> orgBriefCard}}
                  {{/if}}
                  {{#if $eq _type 'technologies'}}
                    {{> techBriefCard}}
                  {{/if}}
                  {{#if $eq _type 'projects'}}
                    {{> projectsBriefCard}}
                  {{/if}}
                  {{#if $eq _type 'attachments'}}
                    {{> attachmentsBriefCard}}
                  {{/if}}                                                      
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}

</template>
