<template name="motoristasCard">
{{#unless isDeleted}}
  {{> motoristasCardHorizontal}}    
{{/unless}}
</template>
<template name="checkIcon">
  {{#if check}}
    <i class='fa fa-check' style='color: green'></i>
  {{else}}
    <i class='fa fa-times'></i>
  {{/if}}
</template>
<template name="motoristasCardVertical">
  {{#panelContainer}}
    {{#panelContent class='product-box' }}
      <div class="product-imitation">
        {{#if Template.subscriptionsReady}}
          {{#with FS.GetFile 'images' foto}}
            {{>safeImg url=(url store='cards') class="img-responsive img-center"}}
          {{/with}}
        {{/if}}
      </div>
      <div class="product-desc">
        <a href="#" class="product-name">
          <p>{{{ nome }}}</p>
          <!--<p style='color: #A1A1A1'>{{cnpj}}</p>-->
        </a>
        <!--{{#if showMore}}-->
        <div class="m-t-xs">
          <p>RG: {{rg}}</p>
          <p>CPF: {{cpf}}</p>
          <p>CNH: {{cnh.numero}}</p>
          <hr />
          <p><b>Contato</b></p>
          {{#with contato}}
            {{> contactBox}}
          {{/with}}
          <hr />
          <p><b>Localizacação</b></p>
          {{#with localizacao}}
            <p><i class='fa fa-map-marker'></i> {{endereco.rua}}, {{endereco.numero}} - {{endereco.complemento}}</p>
            <p>{{cidade}} - {{estado}}, {{bairro}} - {{cep}}</p>
          {{/with}}
          <hr />
          <p><b>Treinamento</b></p>
          {{#with treinamento}}
            <p>{{> checkIcon check=teorico.feito}} Teórico</p>
            <p>{{> checkIcon check=pratico.feito}} Prático</p>
          {{/with}}
        </div>
        <!--{{/if}}-->
        <div class="m-t text-right">
          <a class="btn btn-xs btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
          <a class="btn btn-xs btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>
<template name="motoristasCardHorizontal">
    {{#panelContainer class="product-container" }}
    {{#panelContent class="motorista-card" }}
      <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-3">
          {{#if Template.subscriptionsReady}}
            {{#with FS.GetFile 'images' foto}}
              {{>safeImg url=(url store='original') class="img-responsive foto"}}
            {{/with}}
          {{/if}}
          <div class="contato" style="text-align: center">
            {{#with contato}}
              {{> contactBox}}
            {{/with}}
          </div>
        </div>
        <div class="col-lg-9 info">
          <h2 class="font-bold m-b-xs">{{{nome}}}</h2>
          <hr>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <p><b>Documentos</b></p>
            <p>RG: {{{rg}}}</p>
            <p>CPF: {{{cpf}}}</p>
            <p>CNH: {{{cnh.numero}}} <a class="btn btn-xs modalDocumento"><i class="fa fa-list-alt" style="font-size: 20px"></i></a></p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-5">
            <p><b>Endereço</b></p>
            {{#with localizacao}}
              <p><i class='fa fa-map-marker'></i> {{endereco.rua}}, {{endereco.numero}} - {{endereco.complemento}}</p>
              <p>{{cidade}} - {{estado}}, {{bairro}} - {{cep}}</p>
            {{/with}}
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <p><b>Treinamento</b></p>
            {{#with treinamento}}
              <p>{{> checkIcon check=teorico.feito}} Teórico</p>
              <p>{{> checkIcon check=pratico.feito}} Prático</p>
            {{/with}}
          </div>
          <div class="col-xs-12">
            <hr>
            <div class="btn-group">
              <a href="{{pathFor 'motoristas.edit' id=_id}}" class="btn btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
              <a class="btn btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
            </div>
          </div>
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>