<template name="editBio">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent title="Edit Bio" icon="fa fa-edit" subtitle="You must save changes before closing."}}
    {{/modalHeader}}
    {{#autoForm collection="Meteor.users" id="updateContactInfoForm" type="method-update" doc=user meteormethod="Users.methods.updateProfile" class="form-horizontal" }}
      {{#modalBody}}
        {{> afQuickField name="profile.bio" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{/modalBody}}
      {{#modalFooter}}
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>      
      {{/modalFooter}}
    {{/autoForm}}
  {{/modal}}
</template>