<template name="editInformation">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent 
        title="Edit Information" 
        icon="fa fa-edit" 
        subtitle="You must save changes before closing."}}
    {{/modalHeader}}
    {{#if Template.subscriptionsReady}}
      {{#autoForm collection="Meteor.users" 
        id="updateUserInformationForm" 
        type="method-update" 
        doc=user 
        meteormethod="Users.methods.updateProfile" 
        class="form-horizontal"}}
        {{#modalBody}}
          {{> afQuickField name="profile.firstName" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.lastName" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.affiliation" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.country" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.birth" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.gender" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.address" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{/modalBody}}
        {{#modalFooter}}
          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>      
        {{/modalFooter}}            
      {{/autoForm}}
    {{else}}
      {{#modalBody}}
        {{> spinner}}
      {{/modalBody}}
        {{#modalFooter}}
          <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        {{/modalFooter}}                  
    {{/if}}
  {{/modal}}
</template>