<template name="editContactInfo">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent title="Edit Contact Info" icon="fa fa-edit" subtitle="You must save changes before closing."}}
    {{/modalHeader}}
    {{#autoForm collection="Meteor.users" id="updateContactInfoForm" type="method-update" doc=user meteormethod="Users.methods.updateProfile" class="form-horizontal" }}
      {{#modalBody}}
        {{> afQuickField name="profile.contactInfo.twitter" label-class="col-sm-2" input-col-class="col-sm-10"}}
        {{> afQuickField name="profile.contactInfo.slack" label-class="col-sm-2" input-col-class="col-sm-10"}}
        {{> afQuickField name="profile.contactInfo.github" label-class="col-sm-2" input-col-class="col-sm-10"}}
        {{> afQuickField name="profile.contactInfo.skype" label-class="col-sm-2" input-col-class="col-sm-10"}}
        {{> afQuickField name="profile.contactInfo.phone" label-class="col-sm-2" input-col-class="col-sm-10"}}
        {{> afQuickField name="profile.contactInfo.mobile" label-class="col-sm-2" input-col-class="col-sm-10"}}
      {{/modalBody}}
      {{#modalFooter}}
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>      
      {{/modalFooter}}
    {{/autoForm}}
  {{/modal}}
</template>