<template name="usersDashboard">
  <div class="row">
    <div class="col-xs-12">
      {{#panelContainer class='elastic-search' }}
        {{#panelContent}}
          <div class="search-source-display-mode">
            {{> searchSource source=SearchSources.users options=getOptions placeholder='Procure pelo nome, rg, cpf, usuário ou e-mail'}} 
            <!-- {{> searchDisplayMode id='userSearch'}} -->
          </div>
          <div class="row grid-view">
            <div class="col col-xs-12">
  <!--             {{#if $eq (getSearchDisplayMode 'userSearch') 'list'}}
                {{#each users}}
                  <h5> placeholder for listViews </h5>
                {{/each}}
              {{/if}}
              {{#if $eq (getSearchDisplayMode 'userSearch') 'grid'}}
   -->              <div class="row">
                  {{#each users}}
                    <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 animated fadeInUp">
                      {{> userCard }}
                    </div>
                  {{/each}}
                </div>
              <!-- {{/if}} -->
            </div>
          </div>
        {{/panelContent}}
      {{/panelContainer}}
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='userDashboard' selector=userRecentUpdatesSelector initialCount=10 countIncrement=5}}
    </div>
  </div> 
  -->
</template>

