<template name="autuacoesEdit">
  {{#panel title="Editar Autuação" }}
    {{#if Template.subscriptionsReady}}
      {{#autoForm
        collection="Autuacoes"
        id="updateAutuacoesForm" 
        type="method-update" 
        doc=autuacao
        singleMethodArgument=true
        meteormethod="Autuacoes.methods.update" 
        class="form-horizontal"}}
          {{> afQuickField name="notificacao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="AIT" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="data" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="infracao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="enquadramento" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="local" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="orgao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="imagem" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> submit texto="Editar" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
      {{/autoForm}}
    {{else}}
      <div class="modal-body">
        {{> spinner}}
      </div>
    {{/if}}
  {{/panel}}
</template>