<template name="motoristasEdit">
  {{#panel title="Editar Motorista" }}
    {{#if Template.subscriptionsReady}}
      {{#autoForm
        collection="Motoristas"
        id="updateMotoristasForm" 
        type="method-update" 
        doc=tech
        singleMethodArgument=true
        meteormethod="Motoristas.methods.update" 
        class="form-horizontal"}}
          {{> afQuickField name="nome" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="nascimento" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="cpf" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="rg" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="cnh" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="foto" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="localizacao.cep" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="localizacao.estado" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="localizacao.cidade" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="localizacao.bairro" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="localizacao.endereco" label-class="col-sm-2" input-col-class="col-sm-10"}}             
          {{> afQuickField name="contato" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          
          {{> afQuickField name="treinamento.pratico.feito" label-class="col-sm-2" input-col-class="col-sm-10" label="Treinamento Prático"}} 
          {{#if afFieldValueIs name="treinamento.pratico.feito" value=true}}
            {{> afQuickField name="treinamento.pratico.curso.identificacao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
            {{> afQuickField name="treinamento.pratico.curso.data" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{/if}}

          {{> afQuickField name="treinamento.teorico.feito" label-class="col-sm-2" input-col-class="col-sm-10" label="Treinamento Teórico"}} 
          {{#if afFieldValueIs name="treinamento.teorico.feito" value=true}}
            {{> afQuickField name="treinamento.teorico.curso.identificacao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
            {{> afQuickField name="treinamento.teorico.curso.data" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{/if}}
          {{> submit texto="Salvar" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
      {{/autoForm}}
    {{else}}
      <div class="modal-body">
        {{> spinner}}
      </div>
    {{/if}}
  {{/panel}}
</template>