.motorista-card {
	.foto {
		margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	}
  .contato {
    text-align: center;
    background-color: rgba(0, 128, 57, 0.12);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
  }
  .info {
    @media (max-width: 991px){
      margin-top: 20px;
      text-align: center;
    }
  }
}