<template name="dashboardStat">
  <div class="dashboard-stat">
    {{#panelContainer}}
      {{#panelTitle}}   
        <h2>
          <i class="{{icon}}"></i> {{title}}
         </h2>
      {{/panelTitle}}
      {{#panelContent}}
        <h2 class="no-margins">{{value}}</h2>
        <small>totais cadastrados</small>
      {{/panelContent}}
    {{/panelContainer}}
  </div>
</template>
