<template name="empresasEdit">
  {{#panel title="Editar Empresa" }}
    {{#if Template.subscriptionsReady}}
      {{#autoForm
        collection="Empresas"
        id="updateEmpresasForm" 
        type="method-update" 
        doc=empresa
        singleMethodArgument=true
        meteormethod="Empresas.methods.update" 
        class="form-horizontal"}}
          <h2>Ficha</h2>
      <hr />          
      {{> afQuickField name="razao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="logotipo" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="cnpj" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="inscricao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="contato" label-class="col-sm-2" input-col-class="col-sm-10"}}       
      {{> afQuickField name="localizacao.cep" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="localizacao.estado" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="localizacao.cidade" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="localizacao.bairro" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="localizacao.endereco" label-class="col-sm-2" input-col-class="col-sm-10"}}   
      <h2>Outros</h2>
      <hr />          
      {{> afQuickField name="site" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="obs" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> submit texto="Criar" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
      {{/autoForm}}
    {{else}}
      <div class="modal-body">
        {{> spinner}}
      </div>
    {{/if}}
  {{/panel}}
</template>