/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.close-canvas-menu {
  display: none;
}

.canvas-menu .close-canvas-menu {
  display: block;
}

.light-navbar .navbar.navbar-static-top {
  background-color: #fff;
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.s-alert-box{
  z-index: 99999999;
  font-size: 20px;
  opacity: 0.95;
  height: 62px;
  padding: 18px;
  i {
    margin-left: -22px;
    margin-right: 22px;
    font-size: 24px;
  }
}

.intl-tel-input {
    width: 100%;
}


/*MOBILE SETTINGS*/

.body-small {
  .top-navbar,
  .page-heading {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .ibox {
    margin-bottom: 10px;
  }
  .wrapper-content {
    padding: 10px 5px 15px;
  }
  #page-wrapper {
    padding: 0px;
  }
}


/*This is the class that sets the default settings for userAboutBox and orgAboutBox */

.about-box {
  ul {
    padding: 0;
    margin: 0;
    li {
      .flex;
      .x-between-flex;
      .y-center-flex;
      padding: 5px 0;
    }
    p {
      display: inline-block;
      margin: 0;
      /*Leaving the padding/margin stuff for the <li>, since it has flex */
      /*It only matches IF the <li>'s firts-child is a <p>*/
      &:first-child {
        font-weight: 600;
      }
    }
  }
}


.margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.user-thumb {
  width: 48px;
  height: 48px;
}