// Basic Colors
@navy: #137B6D;       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color

// Various colors
@text-color: #676a6c;   // Body text
@gray: #EDEFF0;         // Background wrapper color
@light-gray: #D1DADE;   // Default label, badget
@label-badget-color: #5E5E5E;
@light-blue:#f3f6fb;

// Spiner color and margin
@spin-color: @navy;
@spin-margin: 0 auto;


// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg:#ffffff;     // IBox Background header
@ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
@sidebar-width: 220px;

// Boxed layout width
@boxed-width: 1200px;
@boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-bg: #3E474F;
@nav-profil-pattern: url("img/header-profile.png") no-repeat;
@nav-text-color: #a7b1c2;
@body-bg: #3E474F;

@brand-color: #BE1D2C;
@item-active: darken(@body-bg, 3%); //#2E353B;
@item-active-border: #D7414F;
@second-level-separator: #d7414f;
@second-level-bg: darken(@body-bg, 3%); //#2E353B;