<template name="sinistrosDashboard">
    {{#panelContainer class='search-box' }}
    {{#panelContent}}
      <div class="search-source-display-mode">
        {{> searchSource source=SearchSources.sinistros options=getOptions placeholder='Procure pelo nome do condutor ou número do BO'}}
        <!-- {{> searchDisplayMode id='sinistrosSearch'}} -->
      </div>
      <div class="row">
        <div class="col col-xs-12">
      <!--     {{#if $eq (getSearchDisplayMode 'sinistrosSearch') 'list'}}
            <h5>Placeholder for ListView</h5>
          {{/if}}
          {{#if $eq (getSearchDisplayMode 'sinistrosSearch') 'grid'}} -->
            <div class="row">
              {{#each results}}
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 animated fadeInUp">
                  {{> sinistrosCard}}                                                   
                </div>
              {{/each}}
            </div>
          <!-- {{/if}} -->
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>