<template name="recentUpdatesItem">
  <li class="list-group-item">
    <button class='btn btn-{{color}} icon-holder'>
      <i class="icon {{icon}}"></i>
    </button>
    <p>
      <a class="text-info" href="{{pathFor 'users.entry' id=userId}}">{{userIdentification}}</a> 
      <div class="label label-{{color}}">{{description}}</div> 
      <a class="text-info" href="{{pathFor routeName id=docId}}">{{docName}}</a> 
      <div class='date'>
        {{moFormat createdAt 'DD/MM/YYYY hh:mm:ss'}}
      </div>      
    </p>
  </li>
</template>
