<template name="veiculosDashboard">
  {{#panelContainer class='search-box' }}
    {{#panelContent}}
      <div class="search-source-display-mode">
        {{> searchSource source=SearchSources.veiculos options=getOptions placeholder='Procure pela placa ou modelo'}}
        <!-- {{> searchDisplayMode id='veiculosSearch'}} -->
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <!-- {{#if $eq (getSearchDisplayMode 'veiculosSearch') 'list'}}
            <h5>Placeholder for ListView</h5>
          {{/if}}
          {{#if $eq (getSearchDisplayMode 'veiculosSearch') 'grid'}} -->
            <div class="row">
              {{#each results}}
                <div class="col-xs-12 col-sm-12 animated fadeInUp">
                  {{> veiculosCard}}                                                   
                </div>
              {{/each}}
            </div>
          <!-- {{/if}} -->
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>