/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   Meteor version
 *   version 2.3
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
// Variables, Mixins
@import "globals/variables.import.less";
@import "globals/mixins.import.less";
// INSPINIA Theme Elements
@import "globals/typography.import.less";
@import "globals/navigation.import.less";
@import "globals/top_navigation.import.less";
@import "globals/buttons.import.less";
@import "globals/badgets_labels.import.less";
@import "globals/elements.import.less";
@import "globals/sidebar.import.less";
@import "globals/base.import.less";
@import "globals/pages.import.less";
@import "globals/chat.import.less";
@import "globals/metismenu.import.less";
@import "globals/spinners.import.less";
// Landing page
@import "globals/landing.import.less";
// RTL Support
@import "globals/rtl.import.less";
// For demo only - config box style
@import "globals/theme-config.import.less";
// INSPINIA Skins
@import "globals/skins.import.less";
@import "globals/md-skin.import.less";
// Media query style
@import "globals/media.import.less";
// Custom style
// Your custom style to override base style
@import "globals/custom.import.less";
@import "custom/bsxl.import.less";
@import "custom/variables.import.less";
@import "custom/flex.import.less";
@import "custom/recent_updates.import.less";
@import "custom/navigation.import.less";
@import "custom/dashboard_stat.import.less";
@import "custom/empresas_card.import.less";
@import "custom/search.import.less";
@import "custom/cards/motoristas_card.import.less";
@import "custom/autuacoes_card.import.less";
@import "custom/empresas_card.import.less";
.img-center {
  margin: 0 auto;
}

.product-price {
  cursor: pointer;
  &:hover {
    background-color: #EEE;
    color: #777;
  }
}

.product-container {
  box-shadow: 03px 3px 9px -1px #a8a8a8;
}

.product-box {
  border: 1px solid transparent;
  box-shadow: 03px 3px 9px -1px #a8a8a8;
}

.product-box:hover {
  border: 1px solid transparent;
  box-shadow: 3px 3px 9px -1px #a8a8a8;
}

.terceiro {
	padding: 20px;
	box-shadow: 03px 3px 9px -1px #a8a8a8;
}
