<template name="pageHeading">
    <div class="row wrapper border-bottom white-bg page-heading no-margin">
        <div class="col-lg-12">
            <h2>{{title}}</h2>
            {{> breadcrumbInspinia}}
        </div>
    </div>
</template>



<template name="breadcrumbInspinia">
    <ol class="breadcrumb">
      <li><p>SafeD</p></li>
        {{#each $mapped Breadcrumb}}
            <li class="{{cssClasses}}">
                <a href="{{url}}" class="{{#if $last}}active{{/if}}">{{title}}</a>
            </li>
        {{/each}}
    </ol>
</template>
