<template name="mainDashboard">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.motoristas title='Motoristas' value=motoristasCount link="motoristas.dashboard"}}
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.veiculos title='Veículos' value=veiculosCount link="veiculos.dashboard"}}
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.autuacoes title='Autuações' value=autuacoesCount link="autuacoes.dashboard"}}
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      {{> dashboardStat icon=Icons.collections.sinistros title='Sinistros' value=sinistrosCount link="sinistros.dashboard"}}
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12">
      {{> recentUpdates counterId='mainDashboard'}}
    </div>
  </div>
  -->
</template>