<template name="sinistrosCard">
  {{#unless isDeleted}}
    {{#panelContainer}}
      {{#panelContent class='product-box' }}
        <div class="product-imitation">
          {{#with FS.GetFile 'images' BO.imagem}}
            {{>safeImg url=(url store='cards') class="img-responsive" width="600" height="400"}}
          {{/with}}
        </div>
        <div class="product-desc">
          <span class="product-price modalDocumento"><i class="fa fa-search"></i></span>
           <span style="margin-right:38px" class="product-price modalDetalhesSinistro">Detalhes</span>
          <a href="#" class="product-name">
            <p>{{{BO.numero}}}</p>
          </a>
          <div class="m-t-xs">
            <p><b>Condutor</b></p>
            {{#with condutor}}
              <p><i class='fa fa-user'></i> {{{nome}}}</p>
              <p>CNH: {{cnh}}</p>
            {{/with}}
            <hr />
            <p><b>Contato</b></p>
            {{#with condutor.contato}}
              {{> contactBox}}
            {{/with}}
            <hr />
            <p><b>Dados</b></p>
            <p><i class='fa fa-map-marker'></i> {{local}}</p>
            <p>Data: {{moFormat data 'DD MMM YYYY'}}</p>
            <p>Vitimas: {{vitimas}}</p>
          </div>
          <div class="btn-group">
            <a href="{{pathFor 'sinistros.edit' id=_id}}" class="btn btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
            <a class="btn btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
          </div>
        </div>
      {{/panelContent}}
    {{/panelContainer}}
  {{/unless}}
</template>