<template name="resetPwd">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <img src="/img/logo-login.png" class='logo-login'>
    <h3>Solicite uma nova senha no SafeD</h3>
    {{> atForm state='resetPwd'}}
    {{> copyright}}
  </div>
</template>
