<template name="signin">
	<div class="middle-box text-center loginscreen animated fadeInDown">
		<img src="/img/logo-login.png" class='logo-login'>
		<h3>Bem vindo ao SafeD-Admin</h3>
		{{> atForm class="m-t"}}
		{{> copyright}}
	</div>
</template>

