<template name="enrollAccount">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <img src="/img/logo-login.png" class='logo-login'>
    <h3>Complete seu cadastro</h3>
    <div class="enroll-form">
      <form role="form" novalidate action="#" method="POST">
      {{#if showError}}
		{{> atError}}
      {{/if}}
        <fieldset {{disabled}}>
          <div class="form-group">
            <input type="text" class="form-control" value="{{email}}" disabled>
          </div>
          {{#each fields}}
            {{> atInput}}
          {{/each}}
          {{#if showReCaptcha}}
            {{> atReCaptcha}}
          {{/if}}
          {{#if showForgotPasswordLink}}
            {{> atPwdLink}}
          {{/if}}
          {{> atPwdFormBtn}}
        </fieldset>
      </form>
    </div>
  </div>
</template>
