<template name="usersInvite">
  {{#panelContainer}}
    {{#panelTitle}}
      <h3>
        <i class="fa fa-user-plus"></i>
        Convidar novo usuário
      </h3>
    {{/panelTitle}}
    {{#panelContent}}
      {{#autoForm schema="InviteSchema" id="inviteUsersForm" type="method" meteormethod="inviteUser" class="form-horizontal" }}

        {{>afQuickField name="email" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="roles" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="firstName" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="lastName" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="cpf" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="rg" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="localizacao" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{>afQuickField name="contato" label-class="col-sm-2" input-col-class="col-sm-10"}} 
        {{> submit texto="Convidar Usuário" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
      {{/autoForm}}
    {{/panelContent}}
  {{/panelContainer}}
</template>
