<template name="motoristasDashboard">
  {{#panelContainer class='search-box' }}
    {{#panelContent}}
      <div class="search-source-display-mode">
        {{> searchSource source=SearchSources.motoristas options=getOptions placeholder='Procure pelo nome ou número de CNH'}}
        <!-- {{> searchDisplayMode id='motoristasSearch'}} -->
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <!-- {{#if $eq (getSearchDisplayMode 'motoristasSearch') 'list'}}
            <h5>Placeholder for ListView</h5>
          {{/if}}
          {{#if $eq (getSearchDisplayMode 'motoristasSearch') 'grid'}} -->
            <div class="row">
              {{#each results}}
                <div class="col col-xs-12 col-sm-12 animated fadeInUp">
                  {{> motoristasCard}}                                                   
                </div>
              {{/each}}
            </div>
          <!-- {{/if}} -->
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}

</template>