<template name="topNavbar">
  <div class="row border-bottom top-navbar">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-default" href="#"><i class="fa fa-bars"></i> </a>
        {{#if env}}
          <div class="label label-{{env.color}}" style="margin-top:18px;font-size:14px;display:inline-block;">
            {{env.name}}
          </div>
        {{/if}}
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <span class="m-r-sm text-muted welcome-message">Bem vindo ao SafeD Admin</span>
        </li>
        <li>
          <a href="#" id="logout">
            <i class="fa fa-sign-out"></i> Sair
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>
