<template name="empresasDashboard">
  {{#panelContainer class='search-box' }}
    {{#panelContent}}
      <div class="search-source-display-mode">
        {{> searchSource source=SearchSources.empresas options=getOptions placeholder='Procure pelo nome ou CNPJ'}}
        <!-- {{> searchDisplayMode id='empresasSearch'}} -->
      </div>
      <div class="row">
        <div class="col col-xs-12">
        <!--   {{#if $eq (getSearchDisplayMode 'empresasSearch') 'list'}}
            <h5>Placeholder for ListView</h5>
          {{/if}}
          {{#if $eq (getSearchDisplayMode 'empresasSearch') 'grid'}} -->
            <div class="row">
              {{#each results}}
                <div class="col col-xs-12 col-sm-12 animated fadeInUp">
                  {{> empresasCard}}                                                   
                </div>
              {{/each}}
            </div>
          <!-- {{/if}} -->
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>