<template name="safeImg">
  {{#if url}}
    {{#if loadingImg}}
      {{> spinnerWave}}
    {{/if}}
    {{#unless error}}
      <img src="{{url}}" 
        class="safe-img {{class}}" 
        id="{{id}}"
        style="{{#if loadingImg}}visibility:hidden; display:none;{{/if}}" 
        onerror="this.style.display='none';" />
    {{else}}
      <img src="{{notFound}}" 
        class="safe-img {{class}}"
        style="width:{{width}}px; height:{{height}}px;">
    {{/unless}}
  {{else}}
    <img src="{{notFound}}" 
      class="safe-img {{class}}"
      style="width:{{width}}px; height:{{height}}px;">
  {{/if}}
</template>
