<template name="userCard">
{{#unless isDeleted}}
  {{#panelContainer}}
    {{#panelContent class='product-box' }}
      <div class="row product-desc" style='text-align:center'>
        <div class="col-sm-3">
          {{#if Template.subscriptionsReady}}
            {{#with FS.GetFile 'images' profile.imageId}}
              {{> safeImg url=(url store='thumbs') class="img-circle img-responsive" notFound='/img/unknown-user.png' width='100' height='100'}}
            {{else}}
              {{> safeImg url='/img/unknown-user.png' class="img-circle img-responsive"}}
            {{/with}}
          {{else}}
            not ready!
          {{/if}}
        </div>
        <div class="col-sm-9">
          <h3>
          {{#if Template.subscriptionsReady}}
            {{#with user.status}}
              {{#if online}}
                <i class='fa fa-circle' style='color:green;'></i>
              {{else}}
                <i class='fa fa-circle' style='color:red;'></i>
              {{/if}}
            {{else}}
              <i class='fa fa-circle' style='color:grey;'></i>
            {{/with}}
          {{/if}}
          {{#if profile.fullName}}
            <strong>{{{profile.fullName}}}</strong>
          {{/if}}
        </h3>
          <h5>
          {{{profile.contato.email}}}
        </h5>
          <h5>
          {{{username}}}
        </h5>
        </div>
      </div>
      <div class="product-desc">
        {{#with profile}}
          <!-- Contato -->
          {{#with contato}}
            {{#if telefone}}
              <p><i class='fa fa-phone'></i> {{telefone}}</p>
            {{/if}}
            {{#if celular}}
              <p><i class='fa fa-mobile'></i> {{celular}}</p>
            {{/if}}
            <!--
          {{#if email}}
            <p><i class='fa fa-envelope'></i> {{{email}}}</p>
          {{/if}}      
          -->
          {{/with}}
          <hr />
          <!-- Documnetos -->
          {{#if rg}}
            <p><b>RG</b> {{{rg}}}</p>
          {{/if}}
          {{#if cpf}}
            <p><b>CPF</b> {{{cpf}}}</p>
          {{/if}}
          <hr />
        {{/with}}
        <!-- Ultimo Login -->
        {{#if Template.subscriptionsReady}}
          {{#with user.status}}
            {{#with lastLogin}}
              <p>
                <b>Último login:</b> {{moFormat date 'DD MMM YYYY HH:mm:ss'}}
              </p>
        {{else}}
          <p>
            <i>Nunca se logou</i>
          </p>
            {{/with}}
        {{else}}
          <p>
            <i>Nunca se logou</i>
          </p>
          {{/with}}
        {{/if}}
        <!-- Actions -->
        <div class="btn-group">
          <a href="{{pathFor 'users.edit' id=_id}}" class="btn btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
          <a class="btn btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
{{/unless}}
</template>