<template name="empresasCard">
  {{#unless deleted}}
    {{#panelContainer class="product-container" }}
      {{#panelContent class="motorista-card" }}
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-3">
            {{#if logotipo}}
              {{#if Template.subscriptionsReady}}
                {{#with FS.GetFile 'images' logotipo}}
                  {{> safeImg url=(url store='original') class="img-responsive img-center"}}
                {{/with}}
              {{/if}}
            {{else}}
              {{> safeImg class="img-responsive"}}
            {{/if}}
            <div class="contato" style="text-align: center">
              {{#with contato}}
                {{> contactBox}}
              {{/with}}
            </div>
          </div>
          <div class="col-lg-9 info">
            <h2 class="font-bold m-b-xs">{{{razao}}} - {{{cnpj}}}</h2>
            <small>
          {{#if site}}
            Site: <a href="{{site}}" target="blank" >{{site}}</a>
          {{/if}}
          </small>
            <hr>
            <div class="col-sm-12 col-md-6 col-lg-5">
              <p><b>Endereço</b></p>
              {{#with localizacao}}
                <p><i class='fa fa-map-marker'></i> {{endereco.rua}}, {{endereco.numero}} - {{endereco.complemento}}</p>
                <p>{{cidade}} - {{estado}}, {{bairro}} - {{cep}}</p>
              {{/with}}
            </div>
            {{#with inscricao}}
              <div class="col-sm-12 col-md-6 col-lg-3">
                <p><b>Inscrição</b></p>
                {{#if estadual}}
                  <p>Estadual: {{estadual}}</p>
                {{/if}}
                {{#if municipal}}
                  <p>Municipal: {{municipal}}</p>
                {{/if}}
              </div>
            {{/with}}
            <div class="col-xs-12">
              <hr>
              <div class="btn-group">
                <a href="{{pathFor 'empresas.edit' id=_id}}" class="btn btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
                <a class="btn btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
              </div>
            </div>
          </div>
        </div>
      {{/panelContent}}
    {{/panelContainer}}
  {{/unless}}
</template>