<template name="autuacoesDashboard">
  {{#panelContainer class='search-box' }}
    {{#panelContent}}
      <div class="search-source-display-mode">
        {{> searchSource source=SearchSources.autuacoes options=getOptions placeholder='Procure pela infração, enquadramento ou notificação'}}
        <!-- {{> searchDisplayMode id='autuacoesSearch'}} -->
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <!-- {{#if $eq (getSearchDisplayMode 'autuacoesSearch') 'list'}}
            <h5>Placeholder for ListView</h5>
          {{/if}}
          {{#if $eq (getSearchDisplayMode 'autuacoesSearch') 'grid'}} -->
            <div class="row">
              {{#each results}}
                <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-2 animated fadeInUp">
                  {{> autuacoesCard}}                                                   
                </div>
              {{/each}}
            </div>
          <!-- {{/if}} -->
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
</template>