<template name="modalDetalhesSinistro">
  {{#modal}}
    {{#modalHeader}}
      {{> modalHeaderContent title='Detalhes do Sinistro' subtitle=(moFormat sinistro.data 'DD MMM YYYY')}}
    {{/modalHeader}}
    {{#modalBody}}
      <h3>Descrição</h3>
      <p>{{sinistro.descricao}}</p>
      <hr>
      <h3>Terceiros</h3>
      {{#each sinistro.terceiros}}
      <div class="terceiro">
      	<h4><i class="fa fa-user"></i> {{nome}}</h4>
        <p>CNH: {{cnh}}</p>
        {{#with contato}}
          {{> contactBox}}
        {{/with}}
      </div>
        
      {{/each}}
    {{/modalBody}}
  {{/modal}}
</template>