<template name="contactBox">
  {{#if telefone }}
    <p><i class='fa fa-phone'></i> {{telefone}}</p>
  {{/if}}
  {{#if celular }}
    <p><i class='fa fa-mobile'></i> {{celular}}</p>
  {{/if}}
  {{#if email }}
    <p><i class='fa fa-envelope-o'></i> <a href="mailto:{{email}}">{{email}}</a></p>
  {{/if}}
</template>