<template name="autuacoesCard">
{{#unless isDeleted}}
  {{#panelContainer class="autuacoes-card" }}
    {{#panelContent class='product-box' }}
      <div class="product-imitation">
        {{#with FS.GetFile 'images' imagem}}
          {{>safeImg url=(url store='cards') class="img-responsive" width="600" height="400"}}
        {{/with}}
      </div>
      <div class="product-desc">
        <span class="product-price modalDocumento"><i class="fa fa-search"></i></span>
        <a href="#" class="product-name">
          <p>{{{notificacao}}}</p>
          <hr />
        </a>
        <div class="m-t-xs">
          <p><b>Dados</b></p>
          <p>Infração: {{{infracao}}}</p>
          <p>Enquadramento: {{{enquadramento}}}</p>
          <p>AIT: {{AIT}}</p>
          <hr />
          <p><b>Orgão</b></p>
          {{#with orgao}}
            <p>Identificação: {{identificacao}}</p>
            <p>Código: {{codigo}}</p>
          {{/with}}
          <hr />
          <p><b>Descrição</b></p>
          <p><i class='fa fa-map-marker'></i> {{local}}</p>
          <p>Data: {{moFormat data 'DD MMM YYYY'}}</p>
          <p>Hora: {{moFormat hora 'HH:mm:ss'}}</p>
          <hr />
        </div>
        <div class="btn-group text-right">
          <a href="{{pathFor 'autuacoes.edit' id=_id}}" class="btn btn btn-outline btn-warning"><i class='fa fa-edit'></i> Editar</a>
          <a class="btn btn btn-outline btn-danger delete"><i class='fa fa-trash'></i> Remover</a>
        </div>
      </div>
    {{/panelContent}}
  {{/panelContainer}}
{{/unless}}
</template>