.search-box {
  .icons-row {
    .flex;
    .x-center-flex;
    .y-center-flex;

    margin: 20px 0;

    button {
      .inline-flex;
      .x-center-flex;
      .y-center-flex;

      width: @button-size-icons-row-elastic-search;
      height: @button-size-icons-row-elastic-search;

      margin: 0 3px;
    }

    i {font-size: 1.5em;}
  }

  .search-row {
    //padding: @horizontal-padding-elastic-search;
    margin-bottom: 20px;
  }

  .grid-view{
    padding-top: 10px;
  }
  
  .results-row {
    .flex;

    margin: 30px 0;
    padding: @horizontal-padding-elastic-search;

    h3 {
      font-size: 20px;
      font-weight: 600px;
      flex-grow: 1;
    }   
  }
}


/*MOBILE MEDIA QUERY*/
.body-small {

  /*Setting less horizonal padding on the ibox-content for mobile devices*/
  .elastic-search{
    .ibox-content {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

/*This is the div that holds the .search-source and .search-toggle*/

.search-source-display-mode {
  .flex;
  .x-between-flex;
  .y-top-flex;
  margin: 10px 0;

  .display-mode {
    .inline-flex;
    button {
      margin-left: 3px;
      margin-right: 0px;
    }
  }
}

.search-source {
  .flex-grow(1);
}

.metadata {
  .flex;
  .x-right-flex;
  font-size: 11px;
}

/*MOBILE MEDIA QUERY*/
.body-small {
  .search-source-display-mode {
    .flex-direction-column; /*Separating search-source and display-mode in 2 rows*/
    .y-bottom-flex; /*Putting display-mode at the right. This is actually working with X,Y axis reversed. Flex-direction-column cause it. */
  }

  .display-mode {
    margin: 8px 0;
    button {
      .inline-flex;
      .x-center-flex;
      width: @display-mode-button-size-mobile;
      height: @display-mode-button-size-mobile;
    }
  }
}


em {
  background-color: #F0FF67;
  font-style: normal;
}