//CUSTOM VARIABLES

// simpleListItem
@img-simple-list-item: 38px;
@border-simple-list-item: 1px solid #ddd;

// recentUpdates
@icon-size-recent-updates: 38px;
@icon-color-recent-updates: #fff;

//attachmentAboutBox
@user-create-file-img-size-attachment-about-box: 38px;

// userAboutBox
@update-picture-icon-color-user-about-box: #fff;

//orgAboutBox
@people-img-size: 38px;
@add-people-button-color: #c5c5c5;

//manageUserRole
@img-size-manage-user-role-item: 50px;

//userProjectPermissions
@img-size-project-permissions: 50px;
@img-size-project-permissions: 50px;

//elasticSerach
@button-size-icons-row-elastic-search: 40px;
@horizontal-padding-elastic-search: 0 40px;

//searchContainer
@ibox-content-horizontal-padding-search-container: 25px;
@padding-top-table-grid-view: 10px;
@display-mode-button-size-mobile: 27px;