<template name="usersEdit">
  {{#panelContainer}}
    {{#panelTitle}}
      <h3>
        Editar dados do usuário
      </h3>
    {{/panelTitle}}
    {{#panelContent}}
      {{#if Template.subscriptionsReady}}
        {{#autoForm schema="Schemas.Users" id="updateUsersForm" doc=user type="method-update" meteormethod="Users.methods.updateProfile" class="form-horizontal" }}
          {{>afQuickField name="profile.firstName" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{>afQuickField name="profile.lastName" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{>afQuickField name="profile.imageId" label-class="col-sm-2" input-col-class="col-sm-10"}}          
          {{>afQuickField name="profile.cpf" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{>afQuickField name="profile.rg" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.localizacao.cep" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.localizacao.estado" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.localizacao.cidade" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.localizacao.bairro" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> afQuickField name="profile.localizacao.endereco" label-class="col-sm-2" input-col-class="col-sm-10"}}  
          {{>afQuickField name="profile.contato" label-class="col-sm-2" input-col-class="col-sm-10"}} 
          {{> submit texto="Editar Usuário" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
        {{/autoForm}}
      {{else}}
        {{> spinner}}
      {{/if}}
    {{/panelContent}}
  {{/panelContainer}}
</template>
