<template name="veiculosEdit">
  {{#panel title="Editar Veículo" }}
    {{#if Template.subscriptionsReady}}
      {{#autoForm
        collection="Veiculos"
        id="updateVeiculosForm" 
        type="method-update" 
        doc=veiculo
        singleMethodArgument=true
        meteormethod="Veiculos.methods.update" 
        class="form-horizontal"}}
        <h2>Ficha</h2>
      <hr />         
      {{> afQuickField name="placa" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="proprietario" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="imagem" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="marca" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="modelo" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="especie" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="cor" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="categoria" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="ano" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="municipio" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="chassi" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> afQuickField name="renavan" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      <h2>Documentação</h2>
      <hr />   
      {{> afQuickField name="documentacao.imagem" label-class="col-sm-2" input-col-class="col-sm-10"}} 
      {{> submit texto="Editar Veiculo" buttonClass="col-sm-10" offsetClass="col-sm-offset-2"}}
      {{/autoForm}}
    {{else}}
      <div class="modal-body">
        {{> spinner}}
      </div>
    {{/if}}
  {{/panel}}
</template>